<!-- include header -->
<%- include('include/_header') %>


<header id="header">
      <div class="container" id="nav">
        
       </header>
    <main id="site-main">
      <div class="container">
        <div class="box-nav d-flex justify-between">
          <div class="filter">
            <a href="/">All Records</a> <i class="fas fa-angle-double-left"></i>
          </div>
        </div>
        <div class="form-title text-center">
          <h2 class="text-dark">New Record</h2>
          <span class="text-light">Use this form to create new record</span>
        </div>
        <!-- form handling -->
        <%- include('include/_form') %>
      </div>
    </main>


<!-- include footer -->

<%- include('include/_footer') %>